<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Workout To Strava Bridge.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1EBF41AF23FC696700CA569A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EBF41C523FC696800CA569A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EBF41D023FC696800CA569A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
